# ----------------------------------------------------------------------------
# General temporary and backup files
# ----------------------------------------------------------------------------
*~
*.autosave
*.orig
*.rej
.#*
*.*#
core
!core/
tags
.DS_Store
.directory
Thumbs.db
*.debug
*.flc
*.swp

# ----------------------------------------------------------------------------
# Build and intermediate files
# ----------------------------------------------------------------------------
*.o
*.obj
*.so
*.so.*
*.a
*.core
*.exe
*.dylib
*.slo
*.lo
*.la
*.lai

# ----------------------------------------------------------------------------
# Qt-related files
# ----------------------------------------------------------------------------
*.moc
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
*_plugin_import.cpp
*_pch.h.cpp
*_resource.rc
*.qm
object_script.*.Release
object_script.*.Debug
target_wrapper.*
Makefile*
*.prl
/.qmake.cache
/.qmake.stash

# ----------------------------------------------------------------------------
# QtCreator files
# ----------------------------------------------------------------------------
*.pro.user*
*.qbs.user*
*.qmlproject.user*
*creator.user*
*.qmlc
*.jsc
CMakeLists.txt.user*
compile_commands.json
*build-*
build/

# ----------------------------------------------------------------------------
# IDE-specific files
# ----------------------------------------------------------------------------

# Visual Studio
*.ib_pdb_index
*.idb
*.ilk
*.pdb
*.sln
*.suo
*.vcproj
*vcproj.*.*.user
*.ncb
*.sdf
*.opensdf
*.vcxproj
*vcxproj.*
*.debug
*.release
debug/
release/
*.vs

# Vim
.*.swp

# XEmacs
*.flc

# ----------------------------------------------------------------------------
# MinGW-specific files
# ----------------------------------------------------------------------------
*.Debug
*.Release


# ----------------------------------------------------------------------------
# Python-related files
# ----------------------------------------------------------------------------
*.pyc

# ----------------------------------------------------------------------------
# custom
# ----------------------------------------------------------------------------
*.bak
*.copy
